:root {
	--clr-pale-blue: hsl(225, 100%, 94%);
	--clr-bright-blue: hsl(245, 75%, 52%);
	--clr-very-pale-blue: hsl(225, 100%, 98%);
	--clr-desaturated-blue: hsl(224, 23%, 55%);
	--clr-dark-blue: hsl(223, 47%, 23%);
	--fw-medium: 500;
	--fw-bold: 700;
	--fw-black: 900;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
}

.attribution {
	text-align: center;
	margin-top: 1em;
}