:root {
	--clr-desaturated-blue: hsl(238, 29%, 16%);
	--clr-red: hsl(14, 88%, 65%);
	--clr-violet: hsl(273 75%, 66%); /* gradient */
	--clr-soft-blue: hsl(240, 73%, 65%); /* gradient */
	--clr-very-dark-grayish-blue: hsl(237, 12%, 33%);
	--clr-dark-grayish-blue: hsl(240, 6%, 50%);
	--clr-light-grayish-blue: hsl(240, 5%, 91%); /* divider */
	--clr-white: hsl(0, 0%, 100%);

	--fw-regular: 400;
	--fw-bold: 700;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 12px;
	user-select: none;
	-webkit-user-drag: none;
	font-family: 'Kumbh Sans', sans-serif;
}

body {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(180deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

.online-woman {
	margin-top: 3em;
	position: relative;
	z-index: 2;
}

.shadow {
	position: relative;
	bottom: 75px;
	z-index: 1;
}

main {
	background-color: var(--clr-white);
	width: 340px;
	position: relative;
	bottom: 184px;
	z-index: 0;
	border-radius: 22px;
	padding: 11em 2em 4em;
}

.page-heading {
	font-size: 2.5rem;
	text-align: center;
	margin-bottom: 1em;
}

.question-div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.question {
	font-weight: var(--fw-regular);
}

.question-div img {
	height: 7px;
}

.answer {
	margin-top: 1.25em;
	display: none;
}

hr {
	margin: 1.5em 0;
	border: 1px solid var(--clr-light-grayish-blue);
}

.active {
	display: block;
}

.expanded {
	transform: rotate(180deg);
}