:root {
	--clr-cyan: hsl(193, 38%, 86%);
	--clr-green: hsl(150, 100%, 66%);
	--clr-grayish-blue: hsl(217, 19%, 38%);
	--clr-dark-grayish-blue: hsl(217, 19%, 24%);
	--clr-dark-blue: hsl(218, 23%, 16%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Manrope', sans-serif;
	font-size: 28px;
}

.viewport {
	background-color: var(--clr-dark-blue);
}

.viewport__card {
	margin: 2em auto;
	padding: 2em 1em 0;
	width: 350px;
	background-color: var(--clr-dark-grayish-blue);
	border-radius: 15px;
	text-align: center;
}

.viewport__card__header {
	color: var(--clr-green);
}

.viewport__card__advice {
	color: var(--clr-cyan);
}

.viewport__card__button-div {
	position: relative;
	transform: translate(0, 50%);
	background-color: var(--clr-green);
	border-radius: 50%;
	height: 70px;
	width: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}