:root {
	--clr-cyan: hsl(193, 38%, 86%);
	--clr-green: hsl(150, 100%, 66%);
	--clr-grayish-blue: hsl(217, 19%, 38%);
	--clr-dark-grayish-blue: hsl(217, 19%, 24%);
	--clr-dark-blue: hsl(218, 23%, 16%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Manrope', sans-serif;
	font-size: 28px;
	-webkit-user-drag: none;
}

.viewport {
	background-color: var(--clr-dark-blue);
}

.viewport__card {
	margin: 2em auto 2.5em;
	padding: 2em 1em 0;
	width: 350px;
	background-color: var(--clr-dark-grayish-blue);
	border-radius: 15px;
	text-align: center;
}

.viewport__card__header, 
.viewport__card__header span {
	color: var(--clr-green);
	font-size: 0.5rem;
	letter-spacing: 0.2rem;
}

.viewport__card__advice {
	color: var(--clr-cyan);
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}

.viewport__card__divider--desktop {
	display: none;
}

.viewport__card__button-div {
	position: relative;
	transform: translate(0, 50%);
	background-color: var(--clr-green);
	border-radius: 50%;
	height: 70px;
	width: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	cursor: pointer;
}

@media screen and (min-width: 700px) {
	.viewport__card {
		width: 550px;
		padding: 2em 1.5em 0;
	}

	.viewport__card__advice {
		margin-bottom: 1em;
	}

	.viewport__card__divider--desktop {
		display: inline;
	}

	.viewport__card__divider--mobile {
		display: none;
	}
}

.attribution, 
.attribution a {
	font-size: 0.5rem;
	text-align: center;
	color: var(--clr-cyan);
}