:root {
	--clr-orange: hsl(25, 97%, 52%);
	--clr-white: hsl(0, 0%, 100%);
	--clr-light-gray: hsl(217, 12%, 63%);
	--clr-medium-gray: hsl(216, 12%, 54%);
	--clr-dark-gray: hsl(208.24,18.28%,18.24%);
	--clr-dark-blue: hsl(213, 21%, 15%);
	--clr-very-dark-blue: hsl(216, 12%, 8%);
	--fw-regular: 400;
	--fw-bold: 700;
}

/* 
mobile width: 375px;
desktop width: 1440px;
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Overpass', sans-serif;
	font-size: 15px;
	font-weight: var(--fw-regular);
	line-height: 1.75rem;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--clr-very-dark-blue);
}

.card-front, 
.card-back {
	background-color: var(--clr-dark-blue);
	width: 350px;
	padding: 1.5em;
	border-radius: 15px;
}

.star-div {
	background-color: var(--clr-dark-gray);
	height: 45px;
	width: 45px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1.25em;
}

.card-front h4 {
	color: var(--clr-white);
	font-size: 2rem;
	margin-bottom: 0.5em;
}

.card-front p {
	color: var(--clr-medium-gray);
	margin-bottom: 1.25em;
}

.rate-options-div {
	display: flex;
	justify-content: space-between;
	height: 45px;
	margin-bottom: 1.5em;
}

input {
	display: none;
}

label {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--clr-medium-gray);
	width: 45px;
	background-color: var(--clr-dark-gray);
	border-radius: 50%;
	cursor: pointer;
}

label:hover {
	background-color: var(--clr-light-gray);
	color: var(--clr-white);
}

input:checked + label {
	background-color: var(--clr-orange);
	color: var(--clr-white);
}

button {
	width: 100%;
	background-color: var(--clr-orange);
	color: var(--clr-white);
	height: 3em;
	border: none;
	border-radius: 25px;
	letter-spacing: 0.2em;
	cursor: pointer;
}

button:hover {
	background-color: var(--clr-white);
	color: var(--clr-orange);
}

.card-back {
	text-align: center;
	display: none;
}

.card-back img {
	margin: 0.75em;
}

.score-declaration {
	color: var(--clr-orange);
	background-color: var(--clr-dark-gray);
	border-radius: 1.5em;
	padding: 0.375em;
	margin: 0 3.875em 2em;
}

.card-back h4 {
	color: var(--clr-white);
	font-size: 1.5rem;
	margin-bottom: 0.5em;
}

p:last-child {
	color: var(--clr-medium-gray);
	margin-bottom: 1em;
}

.attribution {
	color: var(--clr-white);
	position: fixed;
	bottom: 0px;
}